<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow">
    <test name="Flow1" thread-count="2" parallel="classes">
        <classes>
            <class name="FamcareTest"></class>
            <class name="AcademyTest"></class>
        </classes>
    </test>
</suite>
